.loading {
	display:none !important; 
}

.bold {
 font-weight: bold;	
	
}

.feature_image {	
	height: 140px;	
}

.sicon-google-plus i{
	background-position:-396px -1px
}

.social-icons.hover-big .sicon-google-plus:hover {
	background-color: #e04006;
}

#navigation .brand {
	font-family:'ChunkFiveRegular','Open Sans',sans-serif;
	color: #000000;
	padding-right: 0;
	text-decoration: none;
}